body{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-image:

}
h1{
color:#f44336;
text-align: center;
border:solid line;padding: 4px;color:#f44336;
background-color:.......;
padding: 5px;


}
ul>nav{



}




li{
display:......;
margin: 15px;
"relleno";
background-color: #ff9800;
"color de  letra"
border:solid line;padding: 2px; color:#f44336;
}

article{
text-align: right;
}

h2{
background: color #ffc107;;
padding: 5px;
color-letra: white
}

p{ 
font-size: 20px;
font-weight: bold;
}

ul>aside{
list-style: square;
font-style: italic;
}

Primer anuncio{
size-letter: 24px;
color letra: blue 
}

anuncio{
size-letter


}

